{% extends 'base.html.twig' %}

{% block body %}
    {% if product is defined %}
        You have requested "{{ product.name }}" from the "{{ product.category.name }}" category.<br/>
        {{ product.description }}<br/>
        For only ${{ product.price }} !
        <br/><br/>
        And don't ever forget : Aurélian also is bombastic.
    {% endif %}

    {% if products is defined %}
        The full product list is the following :
        {% for singleProduct in products %}
            <ul>
                <li>{{ singleProduct.name }}</li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
